*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(244, 247, 253);
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}
.main{
    margin-top: 10%;
    width: 100%;
}
.main p:first-child{
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
}
.container{
    width: 100%;
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.Course{
    width: 60%;
    background-color:white;
    border-radius: 12px;
    height: 35em;
    
    box-shadow: 10px 10px rgba(173, 216, 230, 0.37);
}
.img{
    width: 80%;
    margin: 8%;
    border-radius: 12px;
    box-shadow: 10px 10px rgba(135, 165, 235, 0.37);
}
.cut{
    margin-left: 25px;
    text-decoration: line-through;
}
.price{
    font-size: 2em;
    margin-left: 25px;
    font-weight: 600;
}
.offer{
    background-color: green;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    border-radius: 12px;
    color: aliceblue;
}
.buy{
    margin-top: 15px;
    margin-left: 15px;
    width: 90%;
    height: 40px;
    background-color: rgb(110, 107, 255);
    border-bottom: solid;
    border-color:rgb(84, 81, 243) ;
    color: aliceblue;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 5px 5px rgba(95, 105, 238, 0.37);
    cursor: pointer;
}
.buy:hover{
    color:black;
}
.cart{
    width: 90%;
    height: 40px;
    margin-top: 15px;
    margin-left: 16px;
    background-color: rgb(233, 233, 255);
    border-radius:5px ;
    color:rgb(84, 81, 243) ;
    font-weight: 600;
    box-shadow: 5px 5px rgba(135, 165, 235, 0.37);
    cursor: pointer;
}
.cart:hover{
    color: black;
}
.money{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    opacity: 0.7;
    font-weight: 700;
}
.detail{
    margin-left: 35px;
    margin-top: 10px;
    font-weight: 600;
}
.in{
    font-weight: 600;
    margin-top: 30px;
    margin-left: 20px;
}




























































/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(244, 247, 253);
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}
.main{
    margin-top: 10%;
    width: 100%;
}
.main p:first-child{
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
}
.container{
    width: 100%;
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.Course{
    width: 60%;
    background-color:white;
    border-radius: 12px;
    height: 35em;
    
    box-shadow: 10px 10px rgba(173, 216, 230, 0.37);
}
.img{
    width: 80%;
    margin: 8%;
    border-radius: 12px;
    box-shadow: 10px 10px rgba(135, 165, 235, 0.37);
}
.cut{
    margin-left: 25px;
    text-decoration: line-through;
}
.price{
    font-size: 2em;
    margin-left: 25px;
    font-weight: 600;
}
.offer{
    background-color: green;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    border-radius: 12px;
    color: aliceblue;
}
.buy{
    margin-top: 15px;
    margin-left: 15px;
    width: 90%;
    height: 40px;
    background-color: rgb(110, 107, 255);
    border-bottom: solid;
    border-color:rgb(84, 81, 243) ;
    color: aliceblue;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 5px 5px rgba(95, 105, 238, 0.37);
    cursor: pointer;
}
.buy:hover{
    color:black;
}
.cart{
    width: 90%;
    height: 40px;
    margin-top: 15px;
    margin-left: 16px;
    background-color: rgb(233, 233, 255);
    border-radius:5px ;
    color:rgb(84, 81, 243) ;
    font-weight: 600;
    box-shadow: 5px 5px rgba(135, 165, 235, 0.37);
    cursor: pointer;
}
.cart:hover{
    color: black;
}
.money{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    opacity: 0.7;
    font-weight: 700;
}
.detail{
    margin-left: 35px;
    margin-top: 10px;
    font-weight: 600;
}
.in{
    font-weight: 600;
    margin-top: 30px;
    margin-left: 20px;
} */